<p>All screenshots are available to download at full resolution (2360 &times; 1640 pixels) in light and dark modes. </p>

<div>
  {% for item in items %}
    <div>

      <figure>
        <img srcset="/assets/press/screenshots/{{item.file}}-light.png 1x" width="2360" height="1640" loading="lazy"/>
        <figcaption>{{item.title}}</figcaption>
      </figure>

      <p>{{item.text}}</p>

      <ul>
        {% for mode in (["light", "dark"]) %}
          <li>
            <a href="/assets/press/screenshots/{{item.file}}-{{mode}}.png" download="pick-a-pic_{{item.file}}_{{mode}}.png">
              {{mode}}
            </a>
          </li>
        {% endfor %}
      </ul>

    </div>
  {% endfor %}
</div>