<p>All videos are available to download at 1280 &times; 890 pixels in light and dark modes. </p>

<div>
  {% for item in items %}
    <div>

      <figure>
        <video playsinline="playsinline" muted="muted" loop="loop">
          <source src="/assets/video/{{item.file}}-light.mp4" type="video/mp4">
        </video>
        <figcaption>{{item.title}}</figcaption>
      </figure>

      <p>{{item.text}}</p>

      <ul>
        {% for mode in (["light", "dark"]) %}
          <li>
            <a href="/assets/video/{{item.file}}-{{mode}}.mp4" download="pick-a-pic_{{item.file}}_{{mode}}.mp4">
              {{mode}}
            </a>
          </li>
        {% endfor %}
      </ul>

    </div>
  {% endfor %}
</div>