<p>All videos are available to download at 1280x890 pixels in both light and dark modes. </p>

{% for item in items %}

  <div>
    <figure>
      <video playsinline="playsinline" muted="muted" loop="loop">
        <source src="/assets/video/{{item.file}}-light.mp4" type="video/mp4">
      </video>
      <figcaption>{{item.title}}</figcaption>
    </figure>
    {{item.text}}
    <ul>
      <li>
        <a href="/assets/video/{{item.file}}-light.mp4" download>Light</a>
      </li>
      <li>
        <a href="/assets/video/{{item.file}}-dark.mp4" download>Dark</a>
      </li>
    </ul>
  </div>

{% endfor %}