This short video guides you through creating your first Button Book.

<iframe width="800" height="450" src="https://www.youtube.com/embed/Q7nI_NOYKjw" title="YouTube video player" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>