---
pagination:
  data: pages
  size: 1
  alias: item
permalink: "/{{ item.id }}/"
layout: layout.njk
styles: /styles/main.css
---

<article>
  <nav>
    <h1>{{ item.title }}</h1>
    <menu>

      {% for section in item.sections %}

        <li>
          <a href="#{{ section.id }}">
            {{ section.title }}
          </a>
        </li>

      {% endfor %}

    </menu>
  </nav>

  {% for section in item.sections %}

    <section id="{{ section.id }}">
      <h2>
        {{ section.title }}
      </h2>
      {% renderFile "_includes/content/" + section.id + "." + section.format %}
    </section>

  {% endfor %}

</article>