---
pagination:
  data: pages
  size: 1
  alias: item
permalink: "/{{ item.id }}/"
layout: layout.njk
styles: /styles/main.css
---
<section>
  <nav id="navigation-container" class="navigation-hidden">

    <h1 id="navigation-heading">
      <input type="checkbox" id="navigation-toggle"/>
      <label for="navigation-toggle">{{ item.title }}</label>
    </h1>

    <menu>
      {% for section in item.sections %}
        <li>
          <a href="#{{ section.id }}">
            {{ section.title | safe }}
          </a>

          {% if section.id == "docs" %}
            <ul>
              {% renderFile "_includes/docs-item-nav.njk",
              { items: docs.items, title: "" } %}
          </ul>
        {% endif %}

      </li>
    {% endfor %}
  </menu>

</nav>
<article>

  {% for section in item.sections %}
    <hgroup id="{{ section.id }}">

      <h2>
        {{ section.title | safe }}
      </h2>

      {% renderFile "_includes/content/" + section.id + "." + section.format,
      docs %}

    </hgroup>
  {% endfor %}

</article>
</section>