---
url: http://pick-a-pic.app
title: "Pick-a-Pic: Functional communication made easy."
author: James Childress
company: Pocket Pidgeon
---

{% if path %}
  {% set segments = [url, path] %}
{% else %}
  {% set segments = [url] %}
{% endif %}

{% if styles %}
  {% set styles = [styles] %}
{% else %}
  {% set styles = ["/styles/main.css"] %}
{% endif %}

<!doctype html>
<html lang="en">
  <head>
    {% metagen
    title = title,
    author = author,
    desc = description,
    url = segments | join("/"),
    comments = true,
    css = styles,
    custom = custom
 %}
  </head>
  <body>

    <header>
      <nav>
        <ul>
          <li>
            <a href="/">
              <span>
                Pick-a-Pic
              </span>
            </a>
          </li>
          <li>
            <a href="/help">Help</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a class="app-store" href="#">
              <span>Download on the App Store</span>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <nav>
        <ul>
          <li>
            <a href="/">
              <span>
                Pick-a-Pic
              </span>
            </a>
          </li>
          <li>
            <a href="/help">Help</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a class="app-store" href="#">
              <span>Download on the App Store</span>
            </a>
          </li>
        </ul>
      </nav>
      <p>Made in Portland 🌲 by an app developer and a BCBA.</p>
      <p>&copy; 2026 Pocket Pidgeon</p>
    </footer>

  </body>
</html>