---
url: https://pick-a-pic.app
title: "Pick-a-Pic - Easy AAC for early learners"
author: Pocket Pigeon
description: Pick-a-Pic is an AAC app for iPad focused on ease-of-use for early learners and their caregivers.
image: /assets/preview.png
image_alt: Pick-a-Pic app icon and screenshot
company: Pocket Pigeon
custom: [
  { tag: 'meta', attrs: { name: 'theme-color', content: '#114477' }},
  { tag: 'meta', attrs: { name: 'darkreader-lock' }},
  { tag: 'link', attrs: { rel: 'icon', type: 'image/png', href: '/favicon.png' }},
  { tag: 'link', attrs: { rel: 'apple-touch-icon', href: '/favicon.png' }}
]
---

{% if styles %}
  {% set styles = [styles] %}
{% else %}
  {% set styles = ["/styles/main.css"] %}
{% endif %}

{% if scripts %}
  {% set scripts = (scripts.push("/scripts/dark-mode.js:defer"), scripts) %}
{% else %}
  {% set scripts = ["/scripts/dark-mode.js:defer"] %}
{% endif %}

<!doctype html>
<html lang="en">
  <head>
    {% metagen
    title = title,
    author = author,
    desc = description,
    img = image,
    img_alt = image_alt,
    css = styles,
    custom = custom,
    js = scripts
 %}
  </head>
  <body>

    <header{% if page.url == "/" %} class="home"{% endif %}>
      <nav>
        <menu>

          {% if page.url != "/" %}
            <li>
              <a href="/">
                <span>
                Pick-a-Pic
              </span>
              </a>
            </li>
          {% endif %}

          <li class="app-store-nav">
            <a href="https://apps.apple.com/app/id6794564956">
              <span>Download</span>
            </a>
          </li>

          {% for p in pages %}
            {% set pagePath = "/" + p.id + "/" %}
            <li>
              <a href="{{ pagePath }}"{% if page.url == pagePath %} aria-current="page"{% endif %}>
                {{ p.title }}
              </a>
            </li>
          {% endfor %}

          <li id="dark-mode-toggle">
            <input type="checkbox" id="dark-mode"/>
            <label for="dark-mode">
              <span>Dark mode</span>
            </label>
          </li>

        </menu>
      </nav>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p>
        <strong>Pick-a-Pic</strong>
        is an
        <abbr title="augmentative and alternative communication">AAC</abbr>
        app for iPad focused on ease-of-use for early learners and their caregivers.
      </p>

      <nav>
        <menu>

          <li class="app-store-nav">
            <a href="https://apps.apple.com/app/id6794564956">
              <span>Download</span>
            </a>
          </li>

          {%- for p in pages %}
            {% set pagePath = "/" + p.id + "/" %}
            <li>
              <a href="{{ pagePath }}"{% if page.url == pagePath %} aria-current="page"{% endif %}>
                {{ p.title }}
              </a>
            </li>
          {% endfor -%}

        </menu>
      </nav>
      <p>
        Made in Portland 🌲 by a BCBA and an app developer.
      </p>
      <p>
        &copy; 2026 Pocket Pigeon.
        &bullet;
      <a href="/privacy">Privacy</a>
      </p>
    </footer>
  </body>
</html>