{% for h3 in docs %}
  <hgroup id="{{ h3.title | slugify }}">

    <h3>
      {{ h3.title | safe }}
    </h3>

    {% for h4 in h3.items %}
      <hgroup id="{{ h4.title | slugify }}">

        <h4>
          {{ h4.title | safe }}
        </h4>

        {% for p in h4.text %}
          <p>{{p}}</p>
        {% endfor %}

        {% for h5 in h4.items %}
          <hgroup id="{{ h4.title | slugify }}">

            <h5>
              {{ h5.title | safe }}
            </h5>

            {% for p in h5.text %}
              <p>{{p}}</p>
            {% endfor %}

          </hgroup>
        {% endfor %}
      </hgroup>
    {% endfor %}
  </hgroup>
{% endfor %}