@use "vars";

@mixin dark-mode {
  body:not(.mode-set-light) {
    @media (prefers-color-scheme: dark) {
      @content;
    }
  }
  body.mode-set-dark {
    @content;
  }
}

@include dark-mode {
  #hero {
    background:
      repeat-x left bottom/200% 20% url("/assets/style/clouds-dark.avif"),
      linear-gradient(vars.$dark-blue 0%, #69c 70%);

    .video-frame.speech-bubble::before {
      color: #000;
    }
  }

  #hero h1,
  header nav menu li:first-child a,
  footer nav menu li:first-child a {
    &::before {
      background-position: left bottom;
      box-shadow:
        0 0 5px vars.$blue,
        0 0 5px vars.$blue;
    }

    &::after {
      background-position: left bottom;
    }
  }

  #hero p {
    color: #000;
    text-shadow: 0 0 30px vars.$light-blue;
  }

  .two-column.arrow {
    background: linear-gradient(#1470 0%, vars.$dark-blue 20%, #1470 90%);

    @media (min-width: vars.$two-column-min-width) {
      background:
        linear-gradient(90deg, #000 0%, #0000 30%, #0000 60%, #000 100%),
        linear-gradient(#000 60%, vars.$dark-blue 85%, #000 90%);
    }
  }

  main {
    background: #000;
    color: #fff;

    a {
      color: vars.$blue-dark-mode;
      border-bottom-color: vars.$dark-blue;
    }

    nav menu,
    nav ul {
      li[aria-current] > a {
        color: #fff;
      }
    }

    section nav a {
      &:hover,
      &:focus {
        background-color: vars.$dark-blue;
      }
    }
  }

  #research figure {
    background-color: #fff2;
  }

  #why cite::before {
    background-color: #fff;
  }

  #docs {
    p em {
      background: #f606;
    }

    a.docs-image {
      border-color: vars.$blue-dark-mode;

      &:hover,
      &:focus {
        box-shadow:
          0 0 10px vars.$blue-dark-mode,
          0 0 10px vars.$blue-dark-mode,
          0 0 10px vars.$blue-dark-mode;
      }

      &::after {
        background-color: vars.$blue-dark-mode;
      }
    }

    hgroup > hgroup {
      border-color: #fff3;
    }
  }

  #navigation-container {
    @media (max-width: vars.$extra-compact-nav-max-width) {
      background: #000;

      &.navigation-hidden,
      &.navigation-visible {
        #navigation-heading {
          background: #000a;
        }
      }
    }
  }
}
