@use "vars";
@use "sass:math";

#dark-mode-toggle {
  $size: 1.7em;
  $handle-size: $size * 0.75;
  $offset: math.div($size - $handle-size, 2);

  display: none;
  position: relative;

  input,
  span {
    position: absolute;
    left: -9999px;
  }

  label {
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      height: $size;
      width: $size * 2;
      border-radius: math.div($size, 2);
      background: #0007;
      box-shadow:
        0 1px 0 #fff3,
        0 1px 5px #000 inset;
    }

    &::after {
      content: "";
      display: block;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: $handle-size;
      aspect-ratio: 1;
      border-radius: math.div($handle-size, 2);
      position: absolute;
      left: $offset;
      top: $offset;
      background: no-repeat left top/200% 100%
        url("/assets/style/dark-mode.png");
      background-color: vars.$dark-blue;
      transition:
        left 1s vars.$curve,
        background-position 1s vars.$curve;
      color: vars.$light-blue;
      box-shadow:
        0 1px 0 #fff5 inset,
        0 1px 2px #000;
      font-weight: bolder;
      line-height: 1.2;
    }
  }

  input:checked + label::after {
    background-position: 100% top;
    left: ($size * 2) - $offset - $handle-size;
  }
}

.mode-set #dark-mode-toggle {
  @media (min-width: vars.$extra-compact-nav-max-width) {
    display: block;
  }
}

header,
footer {
  nav menu {
    padding: 1rem 2rem;
    max-width: vars.$two-column-max-width;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14pt;
    position: relative;

    li {
      + li {
        margin-left: 2em;

        @media (max-width: vars.$extra-compact-nav-max-width) {
          margin-left: 1.5rem;
        }

        @media (max-width: vars.$ultra-compact-nav-max-width) {
          margin-left: 1rem;
        }
      }

      a {
        font-weight: 700;
        color: #adf;
        text-decoration: none;

        &[aria-current],
        &:hover,
        &:focus {
          color: #fff;
        }
      }
    }
  }
}

footer {
  background: linear-gradient(vars.$blue, vars.$dark-blue), vars.$dark-blue;
  padding: 1rem 0;

  nav {
    border-top: 1px solid vars.$dark-blue;
    border-bottom: 1px solid vars.$dark-blue;
    margin: 1em 0;
    box-shadow:
      0 1px 0 #fff3,
      0 1px 0 #fff3 inset;

    menu {
      display: flex;

      li {
        &:first-child {
          margin-left: auto;
        }

        &:last-child {
          margin-right: auto;
        }
      }
    }
  }

  p {
    color: #fffd;
    font-size: 12pt;
    text-align: center;
    display: block;
    padding: 0 1rem;

    strong {
      font-weight: 800;
    }
  }

  @media (max-width: vars.$extra-compact-nav-max-width) {
    nav menu {
      padding: 0.5rem 1rem;
    }
  }
}

header.home {
  menu li:first-child {
    margin-left: auto;
  }

  @media (max-width: vars.$compact-nav-max-width) {
    menu {
      li:first-child {
        margin-left: 0;
      }

      li:last-child {
        margin-left: auto;
      }
    }
  }

  @media (max-width: vars.$ultra-compact-nav-max-width) {
    menu {
      li:first-child {
        margin-left: auto;
      }

      li:nth-child(4) {
        margin-right: auto;
      }
    }
  }
}

header:not(.home) {
  background: linear-gradient(vars.$dark-blue, vars.$blue), vars.$dark-blue;
  position: relative;

  menu li:first-child {
    width: 25%;

    a {
      @include vars.app-logo;

      max-width: 250px;

      &::before {
        content: none;
      }
    }
  }

  menu li:last-child {
    margin-left: auto;
  }

  @media (max-width: vars.$extra-compact-nav-max-width) {
    padding-top: 60px;

    menu {
      border-top: 1px solid vars.$dark-blue;
      box-shadow: 0 1px 0 #fff3 inset;
      padding: 0.5em;

      li:first-child {
        width: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: -52px;

        a {
          margin: auto;
        }
      }

      li:nth-child(2) {
        margin-left: auto;
      }

      li:last-child {
        margin-right: auto;
      }
    }
  }

  @media (max-width: vars.$ultra-compact-nav-max-width) {
    menu {
      li:nth-child(5) {
        margin-right: auto;
      }
    }
  }
}
