@use "main";
@use "sass:math";

main {
  h2,
  p {
    text-align: center;
  }

  p,
  figcaption {
    font-size: 16pt;
  }
}

body header nav {
  background: main.$dark-blue;
  padding-top: 15px;

  menu {
    padding-bottom: 0 !important;

    li {
      &:first-child,
      &:last-child {
        a {
          display: none;
        }
      }
    }
  }

  @media (max-width: main.$two-column-min-width) {
    menu li {
      + li {
        margin: 0 10px;
      }

      &:first-child,
      &:last-child {
        display: none;
      }

      &:nth-child(3) {
        margin-right: auto;
      }
    }
  }
}

#hero {
  background:
    repeat-x left bottom/200% 20% url("/assets/style/clouds.avif"),
    linear-gradient(main.$dark-blue 0%, #69c 70%);

  h1 {
    @include main.app-logo;

    $padding-left: calc((151 / 852) * 110%);

    z-index: 3;
    margin-top: 10px;

    &::before {
      content: "";
      margin: auto;
      margin-bottom: 20px;
      width: 30%;
      max-width: 150px;
      min-width: 100px;
    }

    &::after {
      content: "";
      margin: auto;
      max-width: 600px;
    }
  }

  p {
    color: #fff;
    font-size: 20pt;
    margin: 0.5em 0 1em;
    text-align: center;
    font-weight: 500;
    text-shadow: 0 0 30px main.$dark-blue;

    @media (max-width: 700px) {
      font-size: 18pt;
    }
    @media (max-width: 500px) {
      font-size: 16pt;
    }

    strong {
      font-style: italic;
      font-weight: 900;
      letter-spacing: -0.3pt;
    }
  }

  .two-column {
    margin-top: 0;
  }

  .video-frame.speech-bubble {
    $width: 6em;

    pointer-events: none;
    user-select: none;

    &::before {
      @keyframes speak {
        0% {
          opacity: 0;
          transform: translateY(0);
        }

        30% {
          opacity: 1;
        }

        70% {
          opacity: 1;
          transform: translateY(-50px);
        }

        100% {
          opacity: 0;
          transform: translateY(-50px);
        }
      }

      color: #fff;
      font-weight: 600;
      opacity: 0;
      display: flex;
      position: absolute;
      width: $width;
      aspect-ratio: 1;
      background-image: url("/assets/style/bubble.avif");
      background-size: 100%;
      animation: speak 2s ease-out forwards;
      z-index: 100;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    @mixin speech-bubble($left, $top, $text) {
      left: calc(math.percentage($left) - ($width / 2));
      top: calc(math.percentage($top) - $width);
      content: $text;
    }

    &.speech-bubble-blocks::before {
      @include speech-bubble(math.div(820, 1280), math.div(210, 890), "Blocks");
    }
    &.speech-bubble-cereal::before {
      @include speech-bubble(math.div(880, 1280), math.div(410, 890), "Cereal");
    }
    &.speech-bubble-crayon::before {
      @include speech-bubble(math.div(450, 1280), math.div(560, 890), "Crayon");
    }
    &.speech-bubble-apple::before {
      @include speech-bubble(math.div(450, 1280), math.div(210, 890), "Apple");
    }
  }

  a.app-store {
    width: 240px;
  }
}

.feature-list {
  line-height: 1.2;
  margin-bottom: 1.5em;

  li {
    display: inline-block;
    font-weight: 700;
    padding: 0.3em 0.7em;
    margin: 0.4em 0.2em;
    border-radius: 1em;
    border: 3px solid main.$orange;
    background: #fff;
    box-shadow: 0 0 10px main.$orange;

    &:nth-child(2n) {
      border-color: main.$red;
      box-shadow: 0 0 10px main.$red;
    }
  }

  a {
    border: none;
    color: #000;
  }
}

.inline-list {
  margin: 0 auto 1em;
  display: inline-block;
  list-style-type: "✔︎";

  li {
    $size: 0.6em;

    text-align: left;
    padding-left: 0.5em;
    margin: 0 20px;

    &::marker {
      color: main.$red;
      font-size: 22pt;
      line-height: 0.5;
    }

    strong {
      font-weight: 700;
    }
  }
}

.video-frame {
  position: relative;
  aspect-ratio: 1292 / 919;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  pointer-events: none;
  user-select: none;

  video {
    position: relative;
    display: block;
    width: main.$video-width-in-frame;
    height: main.$video-height-in-frame;
    box-shadow: 0 20px 20px #000;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/style/frame.avif");
    background-size: 100% 100%;
    z-index: 3;
  }
}

.one-column {
  margin: 2em auto;
  padding: 0 20px;
  max-width: main.$two-column-max-width;
  text-align: center;
}

.two-column {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1em auto;
  padding: 0 10px;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  flex: 1;

  > div {
    position: relative;
    padding: 10px;
  }

  @media (min-width: main.$two-column-min-width) {
    flex-direction: row;
    margin: auto;

    > div {
      width: 50%;
    }
  }

  figcaption {
    text-align: center;
  }

  &.two-column-reverse {
    flex-direction: column;

    @media (min-width: main.$two-column-min-width) {
      flex-direction: row-reverse;
    }
  }

  &.arrow {
    background: linear-gradient(#9cf0 0%, #9cfd 20%, #9cf0 90%);

    .video-frame::before {
      content: "||";
      position: absolute;
      display: flex;
      width: main.$video-width-in-frame;
      height: main.$video-height-in-frame;
      left: calc((100% - main.$video-width-in-frame) / 2);
      top: calc((100% - main.$video-height-in-frame) / 2);
      background: #0006;
      box-shadow:
        0 0 40px #000 inset,
        0 0 10px #000 inset;
      z-index: 2;
      opacity: 0;
      transition: opacity 1s;
      pointer-events: none;
      user-select: none;
    }

    @media (min-width: main.$two-column-min-width) {
      figcaption {
        transition:
          opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
          transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      $distance: 100px;

      .video-pause {
        .video-frame::before {
          opacity: 1;
        }
        figcaption {
          opacity: 0;
          transform: translateX($distance);
        }

        &.video-play-ended figcaption {
          transform: none;
          transition: opacity 2s;
        }
      }

      &.two-column-reverse .video-pause {
        figcaption {
          transform: translateX(-1 * $distance);
        }

        &.video-play-ended figcaption {
          transform: none;
        }
      }
    }
  }

  @media (min-width: main.$two-column-min-width) {
    &.arrow {
      background:
        linear-gradient(90deg, #fff 0%, #fff0 30%, #fff0 60%, #fff 100%),
        linear-gradient(#fff 60%, #9cfa 85%, #fff 90%);

      figcaption {
        display: flex;
        align-items: center;
        text-align: left;
        padding-left: 3em;
        background: no-repeat left center/2.5em
          url("/assets/style/bracket-left.avif");
        min-height: 10em;
      }
    }

    &.two-column-reverse {
      figcaption {
        display: flex;
        align-items: center;
        text-align: right;
        padding-right: 3em;
        background: no-repeat right center/2.5em
          url("/assets/style/bracket-right.avif");
        min-height: 10em;
      }
    }
  }
}
