@use "_wrapper";
@use "sass:math";

$orange: #ff9535;
$red: #fd6153;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #000;
  font-size: 16pt;
  background: #26a;
  padding: 0;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 14pt;
  }

  main {
    background: #fff;

    p {
      display: block;
      margin: 0 auto 0.5em;

      strong {
        font-weight: 700;
      }
    }

    h2 {
      display: block;
      margin: 0 auto 0.2em;
      font-family:
        ui-rounded,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
      font-size: 38pt;
      font-weight: 800;
      color: $orange;
      text-transform: uppercase;
      text-align: center;
      line-height: 0.97;
      letter-spacing: -0.03em;

      @media (max-width: 768px) {
        font-size: 28pt;
      }

      strong {
        color: $red;
      }
    }
  }
}

.video-frame {
  position: relative;
  aspect-ratio: 1292 / 919;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;

  video {
    position: relative;
    display: block;
    width: 93.7%;
    height: 91.73%;
    box-shadow: 0 20px 20px #000;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/style/frame.avif");
    background-size: 100% 100%;
    z-index: 2;
  }
}

.one-column {
  margin: auto;
  padding: 0 20px;
  max-width: 1400px;
  text-align: center;
}

.two-column {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding: 0 10px;
  max-width: 1400px;
  justify-content: center;
  align-items: center;

  > div {
    position: relative;
    padding: 10px;
  }

  @media (min-width: 1000px) {
    flex-direction: row;

    > div {
      width: 50%;
    }
  }

  p {
    text-align: center;
  }

  &.two-column-reverse {
    flex-direction: column;

    @media (min-width: 1000px) {
      flex-direction: row-reverse;
    }
  }
}

#hero {
  background:
    repeat-x left bottom/200% 10% url("/assets/style/clouds.avif"),
    linear-gradient(#147 0%, #69c 70%);
  padding: 30px 0 20px;
  margin-bottom: 10px;

  h1 {
    $padding-left: calc((151 / 852) * 110%);

    display: block;
    position: relative;
    z-index: 3;
    margin-top: 10px;

    &::before {
      content: "";
      display: block;
      margin: auto;
      margin-bottom: 20px;
      width: 30%;
      max-width: 150px;
      min-width: 100px;
      aspect-ratio: 1;
      background-image: url("/assets/style/icon.avif");
      background-size: 100%;
      border-radius: 20%;
      box-shadow: 0 3px 6px #000000aa;
      transform: rotate(-8deg);
    }

    &::after {
      content: "";
      display: block;
      margin: auto;
      max-width: 600px;
      aspect-ratio: 852 / 151;
      background-image: url("/assets/style/title.avif");
      background-size: 100% 100%;
    }

    .span {
      position: absolute;
      left: -9999px;
    }
  }

  p {
    color: #fff;
    font-size: 20pt;
    margin: 0.5em 0 1em;
    text-align: center;
    font-weight: 500;

    @media (max-width: 700px) {
      font-size: 18pt;
    }
    @media (max-width: 500px) {
      font-size: 16pt;
    }

    strong {
      font-style: italic;
      font-weight: 900;
      letter-spacing: -0.3pt;
    }
  }

  .video-frame.speech-bubble {
    $width: 6em;

    &::before {
      @keyframes speak {
        0% {
          opacity: 0;
          transform: translateY(0);
        }

        30% {
          opacity: 1;
        }

        60% {
          opacity: 1;
        }

        100% {
          opacity: 0;
          transform: translateY(-100px);
        }
      }

      color: #fff;
      font-weight: 600;
      opacity: 0;
      display: flex;
      position: absolute;
      width: $width;
      aspect-ratio: 1;
      background-image: url("/assets/style/bubble.avif");
      background-size: 100%;
      animation: speak 2s ease-out forwards;
      z-index: 100;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    @mixin speech-bubble($left, $top, $text) {
      left: calc(percentage($left) - ($width / 2));
      top: calc(percentage($top) - $width);
      content: $text;
    }

    &.speech-bubble-blocks::before {
      @include speech-bubble(math.div(843, 1280), math.div(244, 890), "Blocks");
    }
    &.speech-bubble-cereal::before {
      @include speech-bubble(math.div(896, 1280), math.div(445, 890), "Cereal");
    }
    &.speech-bubble-crayon::before {
      @include speech-bubble(math.div(439, 1280), math.div(635, 890), "Crayon");
    }
    &.speech-bubble-apple::before {
      @include speech-bubble(math.div(439, 1280), math.div(244, 890), "Apple");
    }
  }
}

#import-list {
  line-height: 1.2;
  margin-bottom: 2em;

  li {
    display: inline-block;
    font-weight: 500;
    padding: 0.3em 0.7em;
    margin: 0.4em 0.2em;
    border-radius: 1em;
    border: 3px solid $orange;
    background: #fff;
    box-shadow: 0 0 10px $orange;

    &:nth-child(2n) {
      border-color: $red;
      box-shadow: 0 0 10px $red;
    }
  }
}

.wide-only {
  @media (max-width: 900px) {
    visibility: hidden;
    position: absolute;
  }
}

.dark-mode {
  #hero h1::before {
    background-position: 0 100%;
  }
}
