@use "_wrapper";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #fff;
  font-size: 16pt;
  background: #26a;
  padding: 0;
  margin: 0;

  main {
    background: #fff;

    p {
      display: block;
      margin: auto;

      strong {
        font-weight: 700;
      }
    }

    h2 {
      display: block;
      margin: auto;
      font-family:
        ui-rounded,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
      font-size: 38pt;
      font-weight: 800;
      color: #ff9535;
      text-transform: uppercase;
      text-align: center;
      line-height: 0.97;

      @media (max-width: 768px) {
        font-size: 24pt;
      }
    }
  }
}

.video-frame {
  position: relative;
  aspect-ratio: 1292 / 919;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;

  video {
    position: relative;
    display: block;
    width: 93.7%;
    height: 91.73%;
    box-shadow: 0 20px 20px #000;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/style/frame.avif");
    background-size: 100% 100%;
    z-index: 2;
  }
}

.two-column {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding: 0 10px;
  max-width: 1400px;
  justify-content: center;
  align-items: center;

  > div {
    position: relative;
    padding: 10px;
  }

  @media (min-width: 1000px) {
    flex-direction: row;

    > div {
      width: 50%;
    }
  }
}

#hero {
  background: linear-gradient(#26a, #69c);
  padding: 50px 0;

  h1 {
    $padding-left: calc((151 / 852) * 110%);

    display: block;
    position: relative;
    z-index: 3;
    margin-top: 10px;

    &::before {
      content: "";
      display: block;
      margin: auto;
      margin-bottom: 20px;
      width: 30%;
      max-width: 150px;
      min-width: 100px;
      aspect-ratio: 1;
      background-image: url("/assets/style/icon.avif");
      background-size: 100%;
      border-radius: 20%;
      box-shadow: 0 3px 6px #000000aa;
      transform: rotate(-8deg);
    }

    &::after {
      content: "";
      display: block;
      margin: auto;
      max-width: 600px;
      aspect-ratio: 852 / 151;
      background-image: url("/assets/style/title.avif");
      background-size: 100% 100%;
    }

    .span {
      position: absolute;
      left: -9999px;
    }
  }

  p {
    font-size: 20pt;
    margin: 0.5em auto;
    text-align: center;
    font-weight: 500;

    @media (max-width: 700px) {
      font-size: 18pt;
    }
    @media (max-width: 500px) {
      font-size: 16pt;
    }

    strong {
      font-style: italic;
      font-weight: 900;
      text-shadow: 0 0 15px #fff6;
      letter-spacing: -0.3pt;
    }
  }

  video.speech-bubble {
    $width: 250px;
    $aspect-ratio: 471 / 318;

    &::before {
      @keyframes speak {
        0% {
          opacity: 0;
          transform: translateY(0);
        }

        10% {
          opacity: 1;
        }

        90% {
          opacity: 1;
        }

        100% {
          opacity: 0;
          transform: translateY(-100px);
        }
      }

      opacity: 0;
      display: block;
      position: absolute;
      width: $width;
      aspect-ratio: $aspect-ratio;
      background-image: url("/assets/style/bubble.avif");
      background-size: 100%;
      animation: speak 3s ease-in-out forwards;
    }

    @mixin speech-bubble($left, $top, $text) {
      left: calc((left * 100%) - ($width / 2));
      top: calc((top * 100%) - ($width / $aspect-ratio / 2));
      content: $text;
    }

    &.speech-bubble-blocks::before {
      @include speech-bubble(843 / 1280, 244 / 890, "Blocks");
    }
    &.speech-bubble-cereal::before {
      @include speech-bubble(896 / 1280, 445 / 890, "Cereal");
    }
    &.speech-bubble-crayon::before {
      @include speech-bubble(439 / 1280, 635 / 890, "Crayon");
    }
    &.speech-bubble-apple::before {
      @include speech-bubble(439 / 1280, 244 / 890, "Apple");
    }
  }
}

.dark-mode {
  #hero h1::before {
    background-position: 0 100%;
  }
}
