@use "_reset";
@use "sass:math";
@use "vars";
@use "dark";
@use "header";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #000;
  font-size: 14pt;
  font-weight: 500;
  line-height: 1.5;
  background: vars.$dark-blue;

  @media (max-width: vars.$large-font-max-width) {
    font-size: 14pt;
  }
}

main {
  background: #fff;
  padding: 0.1px 0;

  p {
    display: block;
    margin: 0 auto 1em;

    strong {
      font-weight: 700;
    }
  }

  a {
    text-decoration: none;
    color: vars.$blue;
    border-bottom: 0 solid #07a3;
    font-weight: 700;

    &:hover,
    &:focus {
      border-width: 3px;
    }
  }

  h1 {
    font-weight: 700;
  }

  h2 {
    display: block;
    margin: 0.5em auto 0.2em;
    font-family:
      ui-rounded,
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
    font-size: 38pt;
    font-weight: 800;
    color: vars.$orange;
    text-align: left;
    line-height: 0.97;
    letter-spacing: -0.03em;

    @media (max-width: vars.$large-font-max-width) {
      font-size: 28pt;
    }

    strong {
      color: vars.$red;
      white-space: nowrap;
    }
  }

  h3 {
    font-size: 20pt;
    color: vars.$red;
    font-weight: 700;
  }

  h4 {
    font-weight: 800;

    strong {
      color: vars.$orange;
      display: inline-block;
    }
  }

  article {
    > hgroup {
      margin-top: 2em;

      + hgroup {
        border-top: 3px solid #0002;
        padding-top: 1em;
      }
    }
  }

  section {
    max-width: vars.$two-column-max-width;
    margin: auto;
    padding: 0 30px;
    display: flex;
    flex-direction: row;

    nav {
      flex-grow: 1;
      flex-shrink: 0;
      margin: 2em 2em 0 0;

      @media (max-width: 800px) {
        border-left: none;
        border-bottom: 3px solid vars.$red;
        padding: 0;
        margin: 2em 0 1em;
      }
    }

    ul,
    menu {
      list-style-type: disc;
      padding-left: 1em;
      margin-bottom: 1em;

      ::marker {
        color: vars.$orange;
        font-weight: 900;
      }
    }

    #research {
      figure {
        display: block;
        padding: 0.4em 0.8em;
        mask-image: url("/assets/style/paper-mask.png");
        mask-position: left bottom;
        mask-repeat: repeat-x;
        background-color: #0001;
        margin-bottom: 0.5em;
      }

      p {
        padding-left: 0.8em;
      }

      ul {
        padding-left: 1.8em;
      }

      cite {
        font-size: 12pt;
        margin-bottom: 1em;
        display: inline-block;

        em {
          font-style: italic;
        }
      }
    }

    P,
    ul {
      + figure {
        margin-top: 1.2em;
      }
    }
  }
}

a.app-store {
  display: block;
  margin: auto;
  position: relative;
  background-image: url("/assets/style/app-store.svg");
  aspect-ratio: 240 / 80;
  background-size: 100% 100%;
  border: none;

  span {
    position: absolute;
    left: -9999px;
  }
}

#why {
  p {
    text-indent: 2em;
  }

  cite {
    &::before {
      content: "";
      position: relative;
      display: block;
      margin: 1em auto 1em 1em;
      mask-size: 100% 100%;
      background-color: #000;
      mask-image: url("/assets/style/sig-selina.png");
      aspect-ratio: 516 / 273;
      height: 3em;
    }

    span {
      position: absolute;
      left: -9999px;
    }
  }
}

#docs {
  hgroup {
    > div {
      margin: 0 0 1em 1em;
      border-bottom: 1px solid green;
    }

    &:not(.docs-wide) > div {
      > div {
        float: right;
        margin: 0 0 1em 1em;
      }

      &::after {
        content: "";
        display: block;
        clear: both;
      }
    }

    a.docs-image {
      border: 3px solid vars.$blue;
      border-radius: 8px;
      overflow: hidden;
      display: inline-block;
      position: relative;
      transition: box-shadow 0.1s ease-out;
      margin-left: 1em;

      &::after {
        content: "";
        display: flex;
        position: absolute;
        height: 1em;
        width: 1em;
        align-items: center;
        justify-content: center;
        color: #fff;
        top: -0.1px;
        right: -0.1px;
        border-bottom-left-radius: 8px;
        background:
          no-repeat 60% 40%/55% url("/assets/style/arrow-top-right.png"),
          vars.$blue;
        transition:
          height 0.1s ease-out,
          width 0.1s ease-out;
      }

      &:hover,
      &:focus {
        box-shadow: 0 0 10px vars.$blue;

        &::after {
          height: 1.3em;
          width: 1.3em;
        }
      }

      > img {
        max-height: 200px;
      }
    }

    &.docs-wide .docs-image {
      display: inline-block;
      margin: auto;

      img {
        max-height: 100px;
      }
    }
  }
}

.wide-only {
  @media (max-width: 850px) {
    visibility: hidden;
    position: absolute;
  }
}
