$orange: #ff9535;
$red: #fd6153;
$blue: #07b;
$blue-fade: #07b9;
$blue-dark-mode: rgb(79, 177, 226);
$dark-blue: #147;
$light-blue: #adf;
$body-light: #222;
$body-dark: #ddd;
$bold-light: #000;
$bold-dark: #fff;

$video-width-in-frame: 93.7%;
$video-height-in-frame: 91.73%;

$compact-nav-max-width: 1000px;
$extra-compact-nav-max-width: 800px;
$ultra-compact-nav-max-width: 500px;

$two-column-max-width: 1400px;
$two-column-min-width: 1000px;
$large-font-max-width: $extra-compact-nav-max-width;

$curve: cubic-bezier(0.075, 0.82, 0.165, 1);

@mixin app-logo {
  position: relative;
  display: block;

  span {
    position: absolute;
    left: -9999px;
  }

  &::before {
    content: "";
    display: block;
    aspect-ratio: 1;
    background-image: url("/assets/style/icon.avif");
    background-size: 100%;
    border-radius: 25%;
    box-shadow: 0 3px 6px #000a;
    transform: rotate(-8deg);
  }

  &::after {
    content: "";
    display: block;
    aspect-ratio: 852 / 151;
    background-image: url("/assets/style/title.avif");
    background-size: 100%;
  }
}
